$primary-color: #5bc0eb;
$primary-color-button: #5bc0eb9c;
$secondary-color: #f6f8f8;
$title-color: #3d3f41;
$shadow-color: rgb(80, 80, 80);
$white: #ffffff;
$tertiary-color: #8bc34a;
$tertiary-color-hover: #4a721c;
$form-color: #eeeeee;
$shadow-button-color: rgba(0, 0, 0, 0.2);